- content_for :page_title, t('devise.mailer.reset_password_instructions.subject')

%p= t('.hello_html', full_name: @resource.full_name)
%p= t('.reset_password_request')
%p= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale, host: @resource.company.host), class: 'btn btn-primary'
%p= t('.else_ignore')
%p= t('.password_wont_change')

%p
  %br
  %br
  –––––––––––––––––––––––––––
  %br
  Questo messaggio è stato generato automaticamente, si prega di non rispondere a questa mail.